<template lang="pug">
  .feedback-form

    .text-right.mt-1
      button#cameBack.btn.btn-warning(
      @click="comeBack"
      v-show='comeBackVar'
      )
        | &#8656;&#160;&#160; Clear Cart and back to Store

    form#contentForm.mt-5(
    action='',
    method='get',
    name='form'
    )

      .row
        .col-sm-12
          .headline.d-flex.justify-content-center.mb-4.mt-2
            h2
              | Please fill this form

      .row
        .col-sm-6
          .form-group
            label(for='form_name') Name *
            input.form-control(
            name='name',
            type='text',
            placeholder='*Your Name :'
            )

        .col-sm-6
          .form-group
            label(for='form_email') Email *
            input.form-control(
            name='e-mail',
            type='text',
            placeholder='*Your E-mail :'
            )
            .help-block.with-errors

      .row
        .col-md-12
          .form-group
            label(for='form_message') Message to manager:
            textarea.form-control(
            readonly
            name='text',
            type='text',
            v-model="message"
            )

        .col-md-12.d-flex.justify-content-end
          input.feedback.btn.btn-success(
          name='send',
          type='button',
          value='• Send orders •'
          @click="comeBackVar = true"
          )


</template>

<script>

  import Form from './Form'

  export default {
    name: "Form",
    props: {
      cartItems: {
        type: Array
      },
    },

    data() {
      return {
        comeBackVar: false
      }
    },

    methods: {
      comeBack() {
        this.$router.push({path: '/'})
        this.cartItems.splice(0, this.cartItems.length);
        this.toLocalStorage()
      },

      // Save changes to local storage

      toLocalStorage() {
        let parsed = JSON.stringify(this.cartItems)
        localStorage.setItem("cartItems", parsed)
      },
    },

    computed: {
      quantityItems() {
        let quanItems = 0;
        this.cartItems.forEach(item => {
          quanItems = Number(quanItems)
          quanItems += Number(item.qty)
        });
        return quanItems
      },

      message() {
        return "I'm just ordered " + this.quantityItems + ' items from ' + this.cartItems.length +
          ' branded products in your store, please check it out!'
      },
    },

    mounted() {
      this.comeBackVar = false
    }
  }
</script>

<style lang="scss" scoped>

  .headline > h2 {
    color: #466f75;
  }

  .text-right{
    height: 38px;
  }

  textarea {
    height: 10rem;
    resize: none;
  }

  .form-control {
    font-size: 20px;
    font-weight: 500;
    color: #6c757d
  }

  input.form-control {
    background: #fff;
    border: 1px solid #ced4da;
  }

  #contentForm {
    max-width: 700px;
    margin: 0 auto;
    background: #f8f9fa;
    padding: 40px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin-top: 20px !important;
  }

</style>
