<template lang="pug">
  b-modal#cardModal(
  hide-footer=''
  @hidden='onHidden'
  :title='this.liveTitle ? "Welcome to your cart!" : "Thank you for your orders!"'
  )

    slot(
    name='cartPlace'
    v-if='cartMode'
    )

    .d-flex.justify-content-between
      b-btn.mt-0.btn.btn-info.font-strong(
      @click='hideModal'
      )
        | &#9668 Back to the store

      b-btn.mt-0.btn.btn-success.font-strong.cl-sheckout(
      v-bind:disabled='toDisable'
      @click='navigateToForm(); hideModal();'
      )
        | Checkout &#9658;

</template>

<script>

  import ShoppingCart from './ShoppingCart.vue';
  import Form from './Form.vue';

  export default {
    name: "Modal",
    props: {
      cartItems: {
        type: Array,
        default: () => []
      },
      coefficientForNewAdd: {
        type: Boolean
      }
    },

    data() {
      return {
        cartMode: true,
        liveTitle: true
      }
    },

    // For Modal Window behavior

    methods: {

      hideModal() {
        this.$root.$emit('bv::hide::modal', 'cardModal')
        this.cartMode = true
      },

      onHidden(evt) {
        let parsed = JSON.stringify(this.cartItems)
        localStorage.setItem("cartItems", parsed)
        this.cartMode = true
      },

      navigateToForm() {
        this.$router.push({path: '/form'})
      },
    },

    // For disabled style of button "Checkout"

    computed: {
      toDisable() {
        return this.cartItems.length <= 0;
      }
    },

    components: {
      appShoppingCart: ShoppingCart,
      appForm: Form
    }
  }
</script>

<style lang="scss" scoped>

  .cl-sheckout {
    .active {
      display: none;
    }
  }

  .modal-body {
    padding: 9px 1rem 1rem 1rem !important;
  }

  .clearBtn {
    padding: 0px 10px 1px 10px;
    height: 21px;
    line-height: 0px;
  }
</style>
