<template lang="pug">
  .shopping-cart
    .d-flex.flex-row-reverse
      button.btn.btn-danger.btn-sm.mb-3.clearBtn(
      v-bind:disabled='toDisable'
      @click='clearCart'
      )
        | clear all
    table.table.table-cart
      tr.list-group-item.d-flex.justify-content-between.align-items-center(
      v-for='(item, index) in cartItems'
      :key='item.id'
      )

        td.cart-item-1.d-flex.justify-content-center.nameProd
          h6 {{item.title}}
        td.cart-item-2.d-flex.justify-content-center.td-thumbnail
          img.img-thumbnail(:src='item.image' alt='thumb')
        td.cart-item-3.d-flex.justify-content-center
          .quant.d-flex.align-items-center.flex-column

            button.btn.btn-outline-info(
            @click='itemQuautityIncrement(item)'
            )
              | +

            input.quantity.form-control.input-qty.form-control-sm.input-products(
            @keyup='inputControl(item)'
            min='1'
            max='99'
            onkeypress='return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57' maxlength='2' v-model='item.qty' type='text' value='1'
            )

            button.btn.btn-outline-info(
            @click='itemQuautityDecrement(item)'
            )
              | -

        td.cart-item-4.d-flex.justify-content-center.text-right {{ item.price | currency }}
        td.cart-item-5.d-flex.justify-content-center
          button.btn.btn-outline-danger(
          @click='removeItem(index)'
          )
            | &times;
      tr(v-show='cartItems.length === 0')
        td.text-center(colspan='5')
          | Cart is empty
      tr.list-group-item.d-flex.justify-content-between.align-items-center(
      v-show='cartItems.length > 0'
      )
        td
        td.text-right.font-strong Total sum in Cart:
        td.text-right.font-strong {{ SumTotal | currency }}
        td
</template>
<script>

  export default {
    name: "ShoppingCart",
    props: {
      cartItems: {
        type: Array
      }
    },

    // Total sum in Cart

    computed: {
      SumTotal() {
        let total = 0;
        this.cartItems.forEach(item => {
          total = Number(total)
          total += Number(item.price * item.qty)
        })
        return total;
      },

      toDisable() {
        return this.cartItems.length <= 0;
      }

    },

    methods: {

      removeItem(index) {
        this.cartItems.splice(index, 1)
        this.toLocalStorage()
      },

      // Clear all products in cart

      clearCart() {
        this.cartItems.splice(0, this.cartItems.length);
        this.toLocalStorage()
      },

      // Save changes to local storage

      toLocalStorage() {
        let parsed = JSON.stringify(this.cartItems)
        localStorage.setItem("cartItems", parsed)
      },

      // For custom element in inputs

      itemQuautityDecrement(index) {
        this.cartItems.forEach(item => {
          if (item.id === index.id && item.qty > 1) {
            item.qty--
          }
          this.toLocalStorage()
        })
      },

      itemQuautityIncrement(index) {
        this.cartItems.forEach(item => {
          if (item.id === index.id && item.qty < 99) {
            item.qty++
          }
          this.toLocalStorage()
        })
      },

      inputControl(index) {
        this.cartItems.forEach(item => {
          if (item.id === index.id && item.qty == 0) {
            item.qty = 1
          }
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

  .list-group-item {
    padding: 2px;
  }

  .table th, .table td {
    border-top: none;
  }

  .font-strong {
    font-weight: 500;
  }

  .table-cart {
    td {
      padding: 0.3rem;
    }

    .cart-item-1 {
      width: calc(25%);

      h6 {
        font-size: 13px;
      }

      h6:first-letter {
        text-transform: capitalize;
      }
    }

    .cart-item-2 {
      width: calc(30%);
    }

    .cart-item-3 {
      width: calc(15%);

      .quant {
        button {
          -webkit-appearance: none;
          width: 42px;
          height: 25px;
          outline: none;
          padding: 0;
          text-align: center;
        }
      }

      input[type=text]::-webkit-inner-spin-button,
      input[type=text]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      input[type="text"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
        font-size: 20px;
        border: 1px solid #efefef;
        font-weight: 600;
        width: 42px;
        text-align: center;
        height: 26px;
        left: 0px;
        position: relative;
        line-height: 0px;
      }
    }

    .cart-item-4 {
      width: calc(17%);
    }

    .cart-item-5 {
      width: calc(13%);
    }
  }

  .td-thumbnail {
    background-size: cover;
    width: calc(30%);
    overflow: hidden;
  }

  .img-thumbnail {
    padding: 0;
    border-radius: 0.25rem;
    max-width: 100%;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px 0px #c1c0c0;
    background-size: cover;
  }

  .img-thumbnail img {
    max-width: 100%;
    height: auto;
    max-height: 100%
  }

</style>
