<template lang="pug">
  .cont-all

    // Navigation
    app-navigation(:toDisableMenu='toDisableMenu')
    .container

      // Cart Btn

      app-cart-btn.mt-4.mt-1(
      :cartItems='cartItems',
      :toDisableCart='toDisableCart'
      )

      // Modal & Shopping Cart

      app-modal(:cartItems='cartItems')
        template(v-slot:cartPlace='')
          app-shopping-cart(:cartItems='cartItems')

      // Products

      transition(name='fade', mode='out-in' )
        router-view(
        :cartItems='cartItems',
        :toDisableCart='toDisableCart',
        @changeAdminMode='changeAdminMode'
        ref="foo"
        )

</template>

<script>

  import Store from './components/Store.vue';
  import ShoppingCart from './components/ShoppingCart.vue';
  import Navigation from './components/Navigation.vue';
  import CartBtn from './components/CartBtn.vue';
  import Form from './components/Form.vue';
  import Modal from './components/Modal.vue';

  export default {
    data() {
      return {
        cartItems: [],
        quantityItems: '',
        toDisableCart: false,
        toDisableMenu: false
      }
    },

    // Logic for tools in admin mode

    methods: {
      changeAdminMode(e) {
        this.toDisableCart = e
        this.toDisableMenu = e
      }
    },

    mounted() {

      // Taking our array for cart from LocalStorage

      if (localStorage.getItem("cartItems")) {
        try {
          this.cartItems = JSON.parse(localStorage.getItem("cartItems"));
        } catch (e) {
          localStorage.removeItem("cartItems");
        }
      }
    },

    components: {
      appStore: Store,
      appShoppingCart: ShoppingCart,
      appNavigation: Navigation,
      appCartBtn: CartBtn,
      appForm: Form,
      appModal: Modal
    }
  }
</script>

<style lang="scss" scoped>

  .cont-all {
    width: 100%;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease-out;
  }

  .fade-enter, .fade-leave-active {
    opacity: 0
  }

</style>
